In [4]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("Artifact.csv",header=None)

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,17564,17565,17566,17567,17568,17569,17570,17571,17572,17573
0,-96.150566,8.816941,-152.589413,-71.3259,278.3711,-57.014347,-195.621513,-2.767336,202.951589,158.979607,...,81.180393,-7.635005,-39.453661,-50.905131,-10.033863,126.072157,197.501277,-31.980907,-245.71501,1.78059

In [14]:
series = df.iloc[0]
print(type(series))
print(series.shape)

<class 'pandas.core.series.Series'>
(17574,)

In [15]:
torch1 = torch.tensor(series)

In [16]:
torch1.shape

torch.Size([17574])

RuntimeError: shape '[32, 16, 512]' is invalid for input of size 17574